.home-main {
  position: relative;
  width: calc(100% - var(--gap));
  height: 100%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.logo {
  position: absolute;
  top: 18px;
  width: 80px;
  z-index: 5000; 
  cursor: pointer;
  touch-action: manipulation; 
  -webkit-touch-callout: none; 
}

.image-container {
  position: relative;

  max-width: 60vw;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  touch-action: manipulation; 
}

body.tab-open .image-container {
  display: none;
}

.image-container img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  opacity: 0;
  transition: opacity 0.5s ease;
  touch-action: manipulation; 
  -webkit-touch-callout: none; 
}

.image-container img.visible {
  opacity: 1;
  z-index: 10;
}

@media (max-width: 768px) {
  html, body {
    background-attachment: fixed;
  }
  
  .home-main {
    padding-bottom: 150px; 
  }
  
  .logo {
    top: 18px;
    width: 70px;
  }

  .image-container {

    max-width: 60vw; 
  }
}
